.hero-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 90%);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.glow-text {
  font-family: 'Cinzel', serif;
  font-size: 6rem;
  color: #ff1a1a;
  animation: flicker 2s infinite alternate;
  letter-spacing: 4px;
}

@keyframes flicker {
  0% {
    text-shadow:
      0 0 5px #da0808,
      0 0 10px #da0808,
      0 0 20px #da0808,
      0 0 40px #da0808;
    opacity: 1;
  }
  50% {
    text-shadow:
      0 0 2px #ff0000,
      0 0 5px #ff0000,
      0 0 10px #ff0000;
    opacity: 0.8;
  }
  100% {
    text-shadow:
      0 0 8px #ff0000,
      0 0 15px #ff0000,
      0 0 30px #ff0000;
    opacity: 1;
  }
}
.inverted-text{
    font-family: 'Cinzel', serif;
  font-size: 4rem;
  color: #ff1a1a;
  letter-spacing: 4px;
  opacity: 0.17;
}

.tagline {
  color: #00ffff;
  font-size: 1.2rem;
  margin-top: 20px;
  text-shadow:0px 0px 10px #00ffff;
}
.time{
    color: rgba(255, 255, 255, 0.687);
}
.countdown {
  font-family: 'Cinzel', serif;

  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0;
}

.countdown div h2 {
  font-size: 2rem;
}

.hero-buttons {
  margin-top: 20px;
}

.register-now {
  background-color: red !important;
  margin-right: 20px !important;
  box-shadow: 0px 0px 10px red !important;
  transition: transform 0.2s ease !important;
}

.register-now:hover {
  animation: subtleShake 0.4s ease-in-out;
  
}

@keyframes subtleShake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.view-schedule {
  border-color: cyan !important;
  color: rgb(0, 255, 255) !important;
}
.view-schedule:hover{
  background: rgba(0, 255, 255, 0.112) !important;
    
}

@media (max-width: 768px) {
  .glow-text {
    font-size: 2.5rem;
  }

  .countdown {
    flex-direction: column;
    gap: 15px;
  }
  .inverted-text{
    font-size: 2rem;
  }
}