.members-section {
  padding: 120px 20px;
  text-align: center;
  color: white;
}

.members-container {
  max-width: 1300px;
  margin: 0 auto;
}
.glow-text-members {
  font-family: 'Cinzel Decorative', serif;
  font-size: 3rem;
  color: #ff1a1a;
  animation: flicker 2s infinite alternate;
  letter-spacing: 4px;
}
/* Heading */
.members-title {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  color: #ff1e1e;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.members-subtitle {
  color: #9aa4b2;
  font-size: 18px;
  margin-bottom: 70px;
}

/* Grid */
.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

/* Card */
.member-card {
  background: rgba(15, 20, 30, 0.7);
  border: 1px solid rgba(0, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 40px 25px;
  border-radius: 14px;
  transition: all 0.3s ease;
}

.member-card:hover {
  border-color: #00eaff;
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.2);
}

/* Avatar */
.member-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto 25px auto;
  border-radius: 50%;
  border-color: #00eaff !important;
  border:2px solid #00eaff;
  padding: 4px;
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.272);
  transition: all 0.3s ease;

  /* background: radial-gradient(circle, #00eaff 0%, transparent 70%); */
}
.member-avatar:hover{
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.422);

}

.member-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Name */
.member-name {
  font-family: "Cinzel", serif;
  font-size: 20px;
  margin-bottom: 8px;
}

/* Role */
.member-role {
  color: #ff1e1e;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 20px;
}

/* Description */
.member-description {
  color: #9aa4b2;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Social Icons */
.member-socials a {
  color: #9aa4b2;
  transition: 0.3s ease;
  
}

.member-socials a:hover {
  color: #ff0000;
  text-shadow: 0 0 10px #ff0000;
}


@media (max-width: 768px) {
    .glow-text-members {
    font-size: 2rem;
  }
  .members-title {
    font-size: 34px;
  }
}



@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}